@media (max-width: 1000px) {
	.type {
		width: 50%;
		margin-bottom: 50px;
	}
}

@media (max-width: 670px) {
	.type {
		width: 100%;
	}
    .section-dua{
        margin-top:100px;    
    }
}	
